.terminal{
  font-family:Courier;
  color: #00FF00;
}
.terminal_animated{
  font-family:Courier;
  color: #00FF00;
  animation:blink 1.6s infinite;
}
@keyframes blink{
  0%{		color: #00FF00;	}
  50%{	color: transparent;	}
  100%{	color: #00FF00;	}
}
a:link {
  text-decoration: none;
  color: #00FF00;
}
a:hover {
  animation:blink2 0.3s infinite;
}
a:visited {
  text-decoration: none;
  color: #00FF00;
}
@keyframes blink2{
  0%{		color: #00FF00;	}
  50%{	color: transparent;	}
  100%{	color: #00FF00;	}
}
